<div class="sidebarText <%= highlightDashboard %>" id="dashboardText">Dashboard</div>
<div class="sidebarText <%= highlightViewJob%>" id="viewPostedJobsText">View Posted Jobs</div>
<div class="sidebarText <%= highlightPostJob%>" id="postJobText">Post Job</div>