<%- include('partials/head',{title:'labourer'}) %>

<%- include('partials/navbar') %>


  <div class="row">
    <div class="col-sm-2" id="sidebarCol">
            <%- include('partials/sidebar-labourer' , {highlightDashboard: 'highlight', highlightAppliedJob: '', highlightSearchJob:'', name: `${name}` }) %>
    </div>
    <main class="col-sm-10" id="mainCol">
      <div class="sub-header">
        <span class="sub-header-title " id="summary-text">Summary</span>
        <span class="sub-header-title active-tab" id="calendar-text">Calendar</span>
      </div>

      <div class="dashboard-header">Calendar</div>
      <div id='calendar'></div>
    </main>        
  </div>
    


<%- include('partials/footer') %>
<script src="/js/calendar.js"></script>
<script src='/js/labourer.js'></script>
</body>
</html>
