.postedJobs{
    height: 70vh;
    overflow-y: auto;
}
.jobCard {
    cursor: pointer;
    margin: 1rem;
}

.jobCard:hover{
    box-shadow: 0 0 10px black;
    border: 1px solid black;
}

p.card-text{
    margin: 0;
}

.closedStatus {
    background-color: rgba(253, 90, 90, 0.5);
}

.selectedUser{
    background-image: linear-gradient(to top, rgba(0,255,42,0.1), rgba(0,255,42,0.5));
    border: 2px solid black;
}

.rejectedUser{
    background-image: linear-gradient(to top, rgba(252, 62, 62, 0.1), rgba(253, 62, 62, 0.5));
}